<div id="remote_form">
<% form_for @download,
  :url => url,
  :html => { :multipart => true, :id => "upload_form", :target => "upload_iframe" } do |f| %>
  <%= f.error_messages %>

  <p class="need"> * 必須項目 </p>
  <p class="title">ファイル 『<%= h(@download.filename) %>』 基本情報</p>

  <table class="form">
    <tbody>
      <tr>
        <th><%= f.label :uploaded_file, "アップロードファイル" %> </th>
        <td class="field">
          <%= f.file_field :uploaded_file %>
        </td>
        <td class="desc">
          <ul class="list1"></ul>
        </td>
      </tr>
      <tr>
        <th><%= f.label :comment, "コメント" %> </th>
        <td class="field">
          <%= f.text_field :comment, :style => "width:300px; font-size: 14px;" %>
        </td>
        <td class="desc">
          <ul class="list1"></ul>
        </td>
      </tr>
    </tbody>
  </table>
  <p class="buttons"><%= f.submit action_name %> </p>
<% end %>
</div>
