<div id="records">
<table class="record download">
<tbody>

<% @downloads.each do |download| %>
  <tr>
    <td class="id"><%=h download.id %></td>
    <td class="name"><%= link_to h(download.filename), admin_download_path(download) %></td>
    <td class="desc">
      <span class="mark"><%=h download.content_type %></span>
      <span class="mark"><%=h to_megabyte(download.size) %></span>
    </td>
    <td class"date">
      <span class="mark"><%=h to_japan_time(download.updated_at) %></span>
    </td>
    <td class="gadget">
      <%= link_to (image_tag "download.png", :alt => "download"), dl_admin_download_path(download.id) %>

      <%= link_to (image_tag "delete.png", :alt => "delete"), admin_download_path(download), :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</tbody>
</table>
</div>
