<table class="record">
<tbody>

<% @contents.each do |content| %>
<% if content.activated -%>
  <tr>
    <td class="thumb"><%= link_to((s50_for content.primary_image), content_path(content.domain))  %></td>
    <td class="desc">
      <div class="desc_title">
        <h4><%= link_to h(content.name), content_path(content.domain) %></h4>
      </div>
      <div class="desc_mini">
        <%= link_to h(content.artist.name), artist_path(content.artist.domain) %>
        /
        <%= link_to h(content.label.name), label_path(content.label.domain) %>
      </div>
      <div class="desc_file">
        <% if content.music_info %>
          <span class="mark">曲</span>
          <span class="mark"><%=h content.music_info.file_encoding %></span>
          <span class="mark"><%=h content.music_info.time %></span>
        <% elsif content.album_info %>
          <span class="mark">アルバム</span>
        <% end %>

        <% if content.download %>
          <span class="mark"><%=h to_megabyte(content.download.size) %></span>
        <% end -%>
      </div>

    </td>
    <td class="price">
      <%= h(to_yen(content.price)) %>
    </td>

    <td class="buy">
    <%#PUTメソッドで送信%>
    <% form_remote_tag :url => url_for(:controller => "carts", :action => "update") do -%>
      <input name="_method" type="hidden" value="put" />
      <%= hidden_field_tag("cart_item[content_id]", "#{content.id}") %>
      <%= hidden_field_tag("cart_item[quantity]", "1") %>
      <%= submit_tag "カートに入れる" %>
    <% end -%>

    </td>
  </tr>
<% end %>
<% end %>
</tbody>
</table>
