<div id="navigation">
  <ul>
    <li><%= link_to "contents", admin_contents_path %></li>
    <li><%= link_to "artists", admin_artists_path %></li>
    <li><%= link_to "labels", admin_labels_path %></li>
    <li><%= link_to "images", admin_images_path %></li>
    <li><%= link_to "downloads", admin_downloads_path %></li>
    <li><%= link_to "users", admin_users_path %></li>
    <li><%= link_to "orders", admin_orders_path %></li>
    <!--li><%#= link_to "Goods", store_products_path %></li-->
  </ul>
</div>

