<div id="navigation">
  <ul>
    <li><%= link_to "コンテンツ", admin_contents_path %></li>
    <li><%= link_to "アーティスト", admin_artists_path %></li>
    <li><%= link_to "レーベル", admin_labels_path %></li>
    <li><%= link_to "画像", admin_images_path %></li>
    <li><%= link_to "ファイル", admin_downloads_path %></li>
    <li><%= link_to "ユーザー", admin_users_path %></li>
    <li><%= link_to "オーダー", admin_orders_path %></li>
    <li><%= link_to "メール", admin_mails_path %></li>
    <li><%= link_to "お問い合わせ", "" %></li>
  </ul>
</div>
