<div id="details">

  <%= thumb_for @label.images[0] %>

  <p><%=h @label.description %></p>

  <dl><dt>URL</dt> <dd><%=h @label.url %></dd></dl>
  <dl><dt>email</dt> <dd><%=h @label.mail %></dd></dl>

  <% if @label.address %>
    <dl><dt>Address</dt> <dd><%=h @label.address %></dd></dl>
  <% end %>

  <% if @label.phone %>
    <dl><dt>Phone</dt> <dd><%=h @label.phone %></dd></dl>
  <% end %>

</div>
