<div id="details">

  <%= s300_for @label.images[0] %>

  <p><%=h @label.description %></p>

  <% if @label.url != "" %>
    <dl><dt>URL</dt> <dd><%=h @label.url %></dd></dl>
  <% end %>

  <% if @label.email != "" %>
    <dl><dt>email</dt> <dd><%=h @label.email %></dd></dl>
  <% end %>

  <% if @label.address != "" %>
    <dl><dt>Address</dt> <dd><%=h @label.address %></dd></dl>
  <% end %>

  <% if @label.phone != "" %>
    <dl><dt>Phone</dt> <dd><%=h @label.phone %></dd></dl>
  <% end %>

</div>
