<div id="remote_form">
  <p class="title">アーティスト 『<%= h(@artist.name) %>』 関連画像</p>
  <p>画像をクリックしてメイン画像を選択できます。</p>

<% if @images.any?  -%>
  <% primary_image_id = @artist.primary_image.id %>
  <% @images.each do |image| %>
    <div class="image_thumb<%= " primary" if primary_image_id == image.id %>">
    <ul>
    <li>
      <p>
      <%= link_to_function (s50_for image),
        "resource_update('artists', #{@artist.id}, {command:'image_priority', image_id:#{image.id}});"
      %>
      </p>
      <p><%= h(image.filename) %></p>
      <div class="btn_small"><span class="btn btn_small btn_bk_or">
      <%= link_to_function '解除',
        "resource_update('artists', #{@artist.id}, {command:'images', image_id:#{image.id}, flag:'false'});"
      %>
      </div>
    </li>
  </ul>
  </div>
  <% end %>

  <div class="clear"></div>
<% else -%>

  <p>関連画像はありません</p>
<% end -%>
  <div class="btn_small" style="text-align:center;"><span class="btn btn_small btn_bk_gr">
  <%= link_to_function '画像を追加',
    "image_selector(1,
      function(img) {
        resource_update('artists', #{@artist.id}, {command:'images', image_id:img.id, flag:'true'});
      });"
  %>
  </div>
</div>
