<div id="records">

<% if @artists.any? -%>

<table class="record artist">
<tbody>

<% @artists.each do |artist| %>
  <tr <%= "class=inactivated" unless artist.activated %> >
    <td class="id"><%=h artist.id %></td>
    <td class="activated">
      <%= image_tag "activated.png" if artist.activated %>
      <%= image_tag "inactivated.png" unless artist.activated %>
    </td>
    <td class="thumb"><%= link_to ( (s25_for(artist.images[0])), admin_artist_path(artist.id) ) if artist.images[0] != nil %></td>
    <td class="name"><%= link_to h(artist.name), admin_artist_path(artist) %></td>
    <td class="desc">
      <% unless artist.activated -%>
        <span class="btn btn_small btn_bk_gr"><%= link_to_function "有効化", "resource_update('artists', #{artist.id}, {command:'activated', flag:'true'});" %></span>
      <% else -%>
        <span class="btn btn_small btn_bk_or"><%= link_to_function "無効化", "resource_update('artists', #{artist.id}, {command:'activated', flag:'false'});" %></span>
      <% end -%>
      <span class="btn btn_small btn_wh_bl"><%= link_to_function "基本情報", "resource_edit('artists', #{artist.id});" %></span>
      <span class="btn btn_small btn_wh_bl"><%= link_to_function "関連画像", "resource_edit('artists', #{artist.id}, 'edit_images');" %></span>

    </td>
    <td class="date">
      <span class="mark"><%=h to_japan_time(artist.created_at) %></span>
    </td>
    <td class="gadget">
      <%= link_to_remote (image_tag "delete.png", :alt => "delete"),
        :url => admin_artist_path(artist.id), :method => :delete %>

    </td>
  </tr>
<% end %>
</tbody>
</table>

<% else -%>
  <p class="notice">アーティストは登録されていません</p>
<% end -%>

</div>
