<table class="record artist">
<tbody>

<% @artists.each do |artist| %>
  <tr>
    <td class="id"><%=h artist.id %></td>
    <td class="thumb"><%= link_to ( (s25_for (artist.images[0])), admin_artist_path(artist.id) ) if artist.images[0] != nil %></td>
    <td class="name"><%= link_to artist.name, admin_artist_path(artist) %></td>
    <td class="desc">
      <span class="mark"><%=h (artist.label.name) %></span>
    </td>
    <td class="date">
      <span class="mark"><%=h to_japan_time(artist.created_at) %></span>
    </td>
    <td class="gadget">
      <%= link_to (image_tag "update.png", :alt => "update"), edit_admin_artist_path(artist) %>
      <%= link_to (image_tag "delete.png", :alt => "delete"), admin_artist_path(artist), :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</tbody>
</table>
