<div>
  <dl><dt>コンテンツ名</dt> <dd><%=h(@content.name) %></dd></dl>
  <dl><dt>コンテンツ名(サブ)</dt> <dd><%=h(@content.subname) %></dd></dl>
  <dl><dt>画像</dt> <dd><%= s100_for @content.images[0] if @content.images[0] %></dd></dl>

  <dl><dt>アーティスト</dt><dd><%=h @content.artist.name %></dd></dl>
  <dl<dt>レーベル</dt><dd><%=h @content.label.name if content.label %></dd></dl>
  <dl><dt>ダウンロード価格</dt><dd><%=h to_yen(@content.price) %>(税込)</dd></dl>
  <dl><dt>説明</dt><dd><%=h @content.description %></dd></dl>
  <dl><dt>セールス</dt><dd><%=h @content.sales %></dd></dl>
  <dl><dt>ダウンロード数</dt><dd><%=h @content.download_counts %></dd></dl>
  <dl><dt>ドメイン(固有名)</dt><dd><%=h @content.domain %></dd></dl>
  <dl><dt>識別子</dt><dd><%=h @content.token %></dd></dl>

  <%= render :partial => "details_music_info" if @content.music_info %>
  <%= render :partial => "details_album_info" if @content.album_info %>

</div>
