<% fields_for @info, :url => url do |info| %>
  <p class="txt_ess">
    * 必須項目
  </p>
  <h3>楽曲情報</h3>
  <table class="tableTypeForm1" style="width: 775px;">
    <tbody>
      <tr>
        <th><span>*</span><%= info.label :download_id, "コンテンツファイル" %> </th>
        <td style="width: 37%">
        <%= info.collection_select "download_id", Download.find(:all), :token, :filename %>
        </td>
        <td class="tableTypeForm1End" style="width: 38%">
          <span id="download_wrapper">
          </span>
        </td>
      </tr>
      <tr>
        <th><%= info.label :file_encoding, "エンコーディング" %> </th>
        <td style="width: 37%">
          <%= info.text_field :file_encoding, :style => "width:150px; font-size: 14px;", :value => @info.file_encoding %>
        </td>
        <td class="tableTypeForm1End" style="width: 38%">
          <ul class="list1"> <li><span>半角英数小文字3～30文字</span></li> </ul>
        </td>
      </tr>
      <tr>
        <th><%= info.label :time, "プレイ時間" %> </th>
        <td style="width: 37%">
          <%= info.text_field :time, :style => "width:150px; font-size: 14px;", :value => @info.time %>
        </td>
        <td class="tableTypeForm1End" style="width: 38%">
          <ul class="list1"> <li><span>半角英数小文字3～30文字</span></li> </ul>
        </td>
      </tr>

      <tr>
        <th><%= info.label :lyric, "歌詞" %> </th>
        <td style="width: 37%">
          <%= info.text_area :lyric, :style => "width:300px; height:200px; font-size: 14px;", :value => @info.lyric %>
        </td>
        <td class="tableTypeForm1End" style="width: 38%">
          <ul class="list1"> <li><span>200文字以内</span></li> </ul>
        </td>
      </tr>
    </tbody>
  </table>
<% end -%>
