<div id="remote_form">
<% remote_form_for @content, :url => url do |f| %>
  <%= f.error_messages %>

  <p class="need"> * 必須項目 </p>
  <p class="title">コンテンツ 『<%= h(@content.name) %>』 基本情報</p>

  <table class="form">
    <tbody>
      <tr>
        <th><span>*</span><%= f.label :domain, "ドメイン(固有名)" %> </th>
        <td class="field">
          <%= f.text_field :domain, :style => "width:150px; font-size: 14px;" %>
        </td>
        <td class="desc">
          <ul class="list1"> <li><span>半角英数小文字3～30文字</span></li> </ul>
        </td>
      </tr>

      <tr>
        <th><span>*</span><%= f.label :name, "コンテンツ名" %> </th>
        <td class="field">
          <%= f.text_field :name, :style => "width:150px; font-size: 14px;" %>
        </td>
        <td class="desc">
          <ul class="list1"> <li><span>全角半角30文字以内</span></li> </ul>
        </td>
      </tr>

      <tr>
        <th><span>*</span><%= f.label :subname, "コンテンツ名(サブ)" %> </th>
        <td class="field">
          <%= f.text_field :subname, :style => "width:150px; font-size: 14px;" %>
        </td>
        <td class="desc">
          <ul class="list1"> <li><span>全角半角30文字以内</span></li></ul>
        </td>
      </tr>

      <tr>
        <th><span>*</span><%= f.label :price, "価格(税込)" %> </th>
        <td class="field">
          <%= f.text_field :price, :style => "width:100px; font-size: 14px;" %>
        </td>
        <td class="desc">
          <ul class="list1"> <li><span>半角数字</span></li> </ul>
        </td>
      </tr>

      <tr>
        <th><span>*</span><%= f.label :description, "説明" %> </th>
        <td class="field">
          <%= f.text_area :description, :style => "width:300px; height:200px; font-size: 14px;" %>
        </td>
        <td class="desc">
          <ul class="list1"> <li><span>200文字以内</span></li> </ul>
        </td>
      </tr>

      <tr>
        <th><span>*</span><%= f.label :url, "アーティスト" %> </th>
        <td class="field">
          <% artist_name = @content.artist ? @content.artist.name : "unknown" -%>
          <% artist_id = @content.artist ? @content.artist.id : 1 -%>
          <p id="artist_name"><%= h(artist_name) %></p>
          <%= f.hidden_field "artist_id" %>
          <div class="btn_small"><span class="btn btn_small btn_wh_bl"><%= link_to_function 'アーティストを選択する',
            "artist_selector(1,
              function(artist) {
                $('content_artist_id').setValue(artist.id);
                $('artist_name').update(artist.name);
              });"
            %></span></div>
        </td>
        <td class="desc">
           <ul class="list1"></ul>
        </td>
      </tr>

      <tr>
        <th><span>*</span><%= f.label :description, "コンテンツタイプ" %> </th>
        <td class="field">
          <%= f.select("attachable_info_type", [["曲", "MusicInfo"], ["アルバム", "AlbumInfo"]])  %>
        </td>
        <td class="desc">
          <ul class="list1"></ul>
        </td>
      </tr>


    </tbody>
  </table>

  <%= hidden_field_tag("command", "basic") %>
  <p class="buttons"><%= f.submit action_name %> </p>
<% end -%>
</div>
