<%#= f.error_messages %>

<p class="txt_ess">
  * 必須項目
</p>
<h3>コンテンツ情報</h3>

<table class="form">
  <tbody>
    <tr>
      <th><span>*</span><%= f.label :domain, "ドメイン(固有名)" %> </th>
      <td class="field">
        <%= f.text_field :domain, :style => "width:150px; font-size: 14px;" %>
      </td>
      <td class="desc">
        <ul class="list1"> <li><span>半角英数小文字3～30文字</span></li> </ul>
      </td>
    </tr>

    <tr>
      <th><span>*</span><%= f.label :name, "コンテンツ名" %> </th>
      <td class="field">
        <%= f.text_field :name, :style => "width:150px; font-size: 14px;" %>
      </td>
      <td class="desc">
        <ul class="list1"> <li><span>全角半角30文字以内</span></li> </ul>
      </td>
    </tr>

    <tr>
      <th><span>*</span><%= f.label :subname, "コンテンツ名(サブ)" %> </th>
      <td class="field">
        <%= f.text_field :subname, :style => "width:150px; font-size: 14px;" %>
      </td>
      <td class="desc">
        <ul class="list1"> <li><span>全角半角30文字以内</span></li></ul>
      </td>
    </tr>

    <tr>
      <th><span>*</span><%= f.label :price, "価格(税込)" %> </th>
      <td class="field">
        <%= f.text_field :price, :style => "width:100px; font-size: 14px;" %>
      </td>
      <td class="desc">
        <ul class="list1"> <li><span>半角数字</span></li> </ul>
      </td>
    </tr>

    <tr>
      <th><span>*</span><%= f.label :description, "説明" %> </th>
      <td class="field">
        <%= f.text_area :description, :style => "width:300px; height:200px; font-size: 14px;" %>
      </td>
      <td class="desc">
        <ul class="list1"> <li><span>200文字以内</span></li> </ul>
      </td>
    </tr>

    <tr>
      <th><span>*</span><%= f.label :url, "アーティスト" %> </th>
      <td class="field">
        <p id="artist_name"></p>
        <%= f.hidden_field "artist_id" %>
        <%= link_to_function 'アーティストを選択する',
          "artist_selector(1,
            function(artist) {
              $('content_artist_id').setValue(artist.id);
              $('artist_name').update(artist.name);
            });"
        %>
      </td>
      <td class="desc">
        <ul class="list1"></ul>
      </td>
    </tr>

    <tr>
      <th><%= f.label :related_image, "関連画像" %> </th>
      <td class="field">
        <p id="image_name"></p>
        <%= f.hidden_field "related_image" %>
        <%= link_to_function '画像を選択する',
          "image_selector(1,
            function(img) {
              $('image_name').update(img.filename);
              $('content_related_image').setValue(img.token);
              ElementHelper.update_image(img.token, 'thumb_image_tag', 's100');
            });"
        %>
      </td>
      <td class="desc">
        <span id="image_wrapper">
          <img id="thumb_image_tag" src="" />
        </span>
      </td>
    </tr>
  </tbody>
</table>

<%#= render :partial => 'field_music_info', :locals => { :url => url } %>
