<div id="remote_form">
<% remote_form_for @content, :url => url, :builder => ErrorHandlingFormBuilder do |f| %>

  <p class="need"> * 必須項目 </p>
  <p class="title">コンテンツ 『<%= h(@content.name) %>』 基本情報</p>

  <table class="form">
    <tbody>
      <%= f.text_field :domain, {:style => "width:300px;"},
        {:name => "ドメイン", :descs=> ["半角英数字とハイフンのみ3～20文字","登録済みのドメイン名は使えません"]} %>
      <%= f.text_field :name, {:style => "width:300px;"},
        {:name => "コンテンツ名", :descs=> ["全角文字,半角英数字30文字以内","半角かな,半角カナは使えません", "全角スペースは使えません"]} %>
      <%= f.text_field :subname, {:style => "width:300px;"},
        {:name => "コンテンツ名(サブ)", :descs=> "コンテンツ名に準拠"} %>
      <%= f.text_field :price, {:style => "width:150px;"},
        {:name => "価格(税込)", :descs=> "半角数字で3桁以上10桁以内"} %>
      <%= f.text_area :description, {:style => "width:300px; height: 200px;"},
        {:name => "説明", :descs=> "200文字以内"} %>

      <tr>
        <th><span>*</span><%= f.label :url, "アーティスト" %> </th>
        <td class="field">
          <% artist_name = @content.artist ? @content.artist.name : "選択されていません" -%>
          <% artist_id = @content.artist ? @content.artist.id : 1 -%>
          <p id="artist_name"><%= h(artist_name) %></p>
          <%= f.hidden_field "artist_id" %>
          <div class="btn_small"><span class="btn btn_small btn_wh_bl"><%= link_to_function 'アーティストを選択する',
            "artist_selector(1,
              function(artist) {
                $('content_artist_id').setValue(artist.id);
                $('artist_name').update(artist.name);
              });"
            %></span></div>
        </td>
        <td class="desc">
           <ul class="list1"></ul>
        </td>
      </tr>

      <tr>
        <th><%= f.label :url, "メイン画像" %> </th>
        <td class="field">
          <% image_name = @content.primary_image ? @content.primary_image.name : "選択されていません" -%>
          <% image_id = @content.primary_image ? @content.primary_image.id : 0 -%>
          <p id="image_name"><%= h(image_name) %></p>
          <%= f.hidden_field "primary_image", { :value => image_id } %>
          <div class="btn_small"><span class="btn btn_small btn_wh_bl">
            <%= link_to_function '画像を選択する',
              "image_selector(1,
              function(img) {
                $('content_primary_image').setValue(img.id);
                $('image_name').update(img.filename);
                switch_image(img.token, $('image_thumb'), 's50');
              });"
            %>
          </span></div>
        </td>
        <td class="desc">
          <ul class="list1"><img id="image_thumb" class="s50" width="50" height="50" src="/images/noimage-50.jpg" /></ul>
        </td>
      </tr>

      <tr>
        <th><span>*</span><%= f.label :description, "コンテンツタイプ" %> </th>
        <td class="field">
          <%= f.select("attachable_info_type", [["曲", "MusicInfo"], ["アルバム", "AlbumInfo"]])  %>
        </td>
        <td class="desc">
          <ul class="list1"></ul>
        </td>
      </tr>


    </tbody>
  </table>

  <%= hidden_field_tag("command", "basic") %>
  <p class="buttons"><%= f.submit action_name %> </p>
<% end -%>
</div>
