<div id="remote_form">
<% remote_form_for @music_info, :url => url do |f| %>
  <p class="need"> * 必須項目 </p>
  <p class="title">コンテンツ 『<%= h(@content.name) %>』 曲情報</p>

  <table class="form">
    <tbody>
      <tr>
        <th><span>*</span><%= f.label :download_id, "コンテンツファイル" %> </th>
        <td class="field">
          <% download_name = @music_info.download ? @music_info.download.filename : "unknown" -%>
          <% download_id = @music_info.download ? @music_info.download.id : 0 -%>
          <p id="download_name"><%= download_name %></p>
          <%= f.hidden_field "download_id", { :value => download_id } %>
          <div class="btn_small"><span class="btn btn_small btn_wh_bl">
            <%= link_to_function 'ダウンロードファイルを選択する',
              "download_selector(1,
              function(download) {
                $('music_info_download_id').setValue(download.id);
                $('download_name').update(download.filename);
              });"
            %>
          </span></div>
        </td>
        <td class="desc">
          <span id="download_wrapper">
          </span>
        </td>
      </tr>
      <tr>
        <th><%= f.label :file_encoding, "エンコーディング" %> </th>
        <td class="field">
          <%= f.text_field :file_encoding, :style => "width:150px; font-size: 14px;", :value => @music_info.file_encoding %>
        </td>
        <td class="desc">
          <ul class="list1"> <li><span>半角英数小文字3～30文字</span></li> </ul>
        </td>
      </tr>
      <tr>
        <th><%= f.label :time, "プレイ時間" %> </th>
        <td class="field">
          <%= f.text_field :time, :style => "width:150px; font-size: 14px;", :value => @music_info.time %>
        </td>
        <td class="desc">
          <ul class="list1"> <li><span>半角英数小文字3～30文字</span></li> </ul>
        </td>
      </tr>

      <tr>
        <th><%= f.label :lyric, "歌詞" %> </th>
        <td class="field">
          <%= f.text_area :lyric, :style => "width:300px; height:200px; font-size: 14px;", :value => @music_info.lyric %>
        </td>
        <td class="desc">
          <ul class="list1"> <li><span>200文字以内</span></li> </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <%= hidden_field_tag("command", "music_info") %>
  <p class="buttons"><%= f.submit action_name %> </p>
<% end -%>
</div>
