<div id="remote_form">
<% remote_form_for @album_info, :url => url do |f| %>
  <p class="need"> * 必須項目 </p>
  <p class="title">コンテンツ 『<%= h(@content.name) %>』 アルバム情報</p>

  <table class="form">
    <tbody>
      <tr>
        <th><span>*</span><%= f.label :download_id, "コンテンツファイル" %> </th>
        <td class="field" style="width: 400px;">
          <% download_name = @album_info.download ? @album_info.download.filename : "unknown" -%>
          <% download_id = @album_info.download ? @album_info.download.id : 0 -%>
          <p id="download_name"><%= download_name %></p>
          <%= f.hidden_field "download_id", { :value => download_id } %>
          <div class="btn_small"><span class="btn btn_small btn_wh_bl">
            <%= link_to_function 'ダウンロードファイルを選択する',
              "download_selector(1,
              function(download) {
                $('album_info_download_id').setValue(download.id);
                $('download_name').update(download.filename);
              });"
            %>
          </span></div>
        </td>
        <td class="desc">
          <span id="download_wrapper">
          </span>
        </td>
      </tr>
      <tr>
        <th><%= f.label :file_encoding, "エンコーディング" %> </th>
        <td class="field">
          <%= f.text_field :file_encoding, :style => "width:150px; font-size: 14px;", :value => @album_info.file_encoding %>
        </td>
        <td class="desc">
          <ul class="list1"> <li><span>半角英数小文字3～30文字</span></li> </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <%= hidden_field_tag("command", "album_info") %>
  <p class="buttons"><%= f.submit action_name %> </p>
<% end -%>

<%# ---------------------------------------------------------------------- -%>

<p class="title">収録曲</p>
<% music_infos = @album_info.music_infos -%>
<%= render :partial => "form_album_info_musics", :locals => { :music_infos => music_infos } %>
