<table class="record content">
<tbody>

<%#= will_paginate @contents, :prev_label => 'prev', :next_label => 'next' %>

<% @contents.each do |content| %>
  <tr>
    <td class="id"><%=h content.id %></td>
    <td class="thumb"><%= link_to ( (s25_for (content.images[0])), admin_content_path(content.id) ) if content.images[0] != nil %></td>
    <td class="name"><%= link_to content.name, admin_content_path(content) %></td>
    <td class="desc">
      <span class="mark"><%=h (content.artist.name) %></span>
    </td>
    <td class="date">
      <span class="mark"><%=h to_japan_time(content.created_at) %></span>
    </td>
    <td class="gadget">
      <%= link_to (image_tag "delete.png", :alt => "delete"), admin_content_path(content), :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</tbody>
</table>
