<div id="records">

<% if @contents.any? -%>

<table class="record content">
<tbody>

<%#= will_paginate @contents, :prev_label => 'prev', :next_label => 'next' %>

<% @contents.each do |content| %>
  <tr <%= "class=inactivated" unless content.activated %> >

    <td class="id"><%=h content.id %></td>
    <td class="activated">
      <%= image_tag "activated.png" if content.activated %>
      <%= image_tag "inactivated.png" unless content.activated %>
    </td>
    <td class="thumb"><%= link_to((s25_for(content.primary_image)), admin_content_path(content.id) ) if content.primary_image != nil %></td>
    <td class="name">
      <%= link_to_function h(content.name), "resource_show('contents', #{content.id});" %></td>
    <td class="desc">
      <% unless content.activated -%>
        <span class="btn btn_small btn_bk_gr"><%= link_to_function "有効化", "resource_update('contents', #{content.id}, {command:'activated', flag:'true'});" %></span>
      <% else -%>
        <span class="btn btn_small btn_bk_or"><%= link_to_function "無効化", "resource_update('contents', #{content.id}, {command:'activated', flag:'false'});" %></span>
      <% end -%>
      <span class="btn btn_small btn_wh_bl"><%= link_to_function "基本情報", "resource_edit('contents', #{content.id});" %></span>
      <span class="btn btn_small btn_wh_bl"><%= link_to_function "関連画像", "resource_edit('contents', #{content.id}, 'edit_images');" %></span>

      <% if content.attachable_info_type == 'MusicInfo' -%>
        <span class="btn btn_small btn_wh_bl"><%= link_to_function "曲情報", "resource_edit('contents', #{content.id}, 'edit_music');" %></span>
      <% elsif content.attachable_info_type == 'AlbumInfo' -%>
        <span class="btn btn_small btn_wh_bl"><%= link_to_function "アルバム情報", "resource_edit('contents', #{content.id}, 'edit_album');" %></span
      <% end -%>

    </td>
    <td class="date">
      <span class="mark"><%=h to_japan_time(content.updated_at) %></span>
    </td>
    <td class="gadget">
      <%= link_to_remote (image_tag "delete.png", :alt => "delete"),
        :url => admin_content_path(content.id), :method => :delete %>
    </td>
  </tr>
<% end %>
</tbody>
</table>

<% else -%>
  <p class="notice">コンテンツはありません</p>
<% end -%>

</div>
