<div id="search_form" class="right">
  <% form_tag( admin_contents_path, {:method => "get",  :name => "search" } ) do %>
    <%#= text_field_tag :search_word, session[:search_word] %>
    <%= text_field_tag :search_word, @search_word %>
    <%= hidden_field_tag :category, "#{@category}", {:id => 'search_category'} %>
    <%= hidden_field_tag :activated, "#{@activated}", {:id => 'search_activated'} %>
    <%= link_to_function image_tag("/images/btn.gif"), "document.search.submit();", { :id  => "search_btn" } %>
  <% end %>
</div>

<div id="search_category">
  <ul>
    <li class="search_salt">
    <% name = (@category == 'all' || @category == '') ? 'focus all' : 'all' %>
    <%= link_to_function "すべて", "select_search_salt('search_category', 'all');", { :class => "#{name}" } %>
    </li>
    <li class="search_salt">
    <% name = (@category == 'music') ? 'focus music' : 'music' %>
    <%= link_to_function "曲", "select_search_salt('search_category', 'music');", { :class => "#{name}" }  %>
    </li>
    <li class="search_salt">
    <% name = (@category == 'album') ? 'focus album' : 'album' %>
    <%= link_to_function "アルバム", "select_search_salt('search_category', 'album');", { :class => "#{name}" }  %>
    </li>
  </ul>
</div>


<div id="search_activated">
  <ul>
    <li class="search_salt">
    <% name = (@activated == 'all' || @activated == '') ? 'focus all' : 'all' %>
    <%= link_to_function "すべて", "select_search_salt('search_activated', 'all');", { :class => "#{name}" } %>
    </li>
    <li class="search_salt">
    <% name = (@activated == 'true') ? 'focus true' : 'true' %>
    <%= link_to_function "有効のみ", "select_search_salt('search_activated', 'true');", { :class => "#{name}" } %>
    </li>
    <li class="search_salt">
    <% name = (@activated == 'false') ? 'focus false' : 'false' %>
    <%= link_to_function "無効のみ", "select_search_salt('search_activated', 'false');", { :class => "#{name}" } %>
    </li>
  </ul>
</div>
