<div id="records">

<% if @orders.any? -%>

<table class="record">

<tbody>

<% @orders.each do |order| %>
  <tr>
    <td class="id"><%=h order.id %></td>

    <td class="name">
      <%= link_to_function h(order.email), "resource_show('orders', #{order.id});" %>
    </td>

    <td class="desc">
      <span class="mark"><%=h order.first_ordered_content.name %> etc</span>
      <span class="mark"><%=h order.payment_type %></span>
      <span class="mark"><%=h to_yen(order.total_price) %></span>
    </td>
    <td class"date">
      <span class="mark"><%=h to_japan_time(order.order_time) %></span>
    </td>
  </tr>
<% end %>
</tbody>
</table>

<% else -%>
  <p class="notice">オーダーはありません</p>
<% end -%>

</div>
