
<% form_for @order, :url => order_path do |f| %>
  <%= f.error_messages %>

<table class="order_form">
<tbody>

  <tr>
    <td class="lh"><%= f.label :name %></td>
    <td class="input_area"><%= f.text_field :name, :value => 'tujaja', :class => 'inputsize' %></td>
  </tr>

  <tr>
    <td class="lh"><%= f.label :zipcode %></td>
    <td class="input_area"><%= f.text_field :zipcode, :value => '179-0072' %></td>
  </tr>
  <tr>
    <td class="lh"><%= f.label :address1 %></td>
    <td class="input_area"><%= f.text_field :address1, :value => '東京都練馬区' %></td>
  </tr>

  <tr>
    <td class="lh"><%= f.label :address2 %></td>
    <td class="input_area"><%= f.text_field :address2, :value => '光が丘５ー５ー５' %></td>
  </tr>

  <tr>
    <td class="lh"><%= f.label :email %></td>
    <td class="input_area"><%= f.text_field :email, :value => 'tujaja2@gmail.com' %></td>
  </tr>

  <!--tr>
    <td class="lh"><%= f.label :email_confirm %></td>
    <td class="input_area"><%= f.text_field :email_confirm, :value => 'tujaja2@gmail.com' %></td>
  </tr-->

  <tr>
    <td class="lh"><%= f.label :phone %></td>
    <td class="input_area"><%= f.text_field :phone, :value => '090-2435-3822' %></td>
  </tr>

  <tr>
    <td class="lh"><%= f.label "支払い方法" %></td>
    <td class="input_area">
      <%= f.radio_button(:payment_type, "free", {:checked => true} ) %>Free
      <%= f.radio_button(:payment_type, "paypal") %>Paypal
    </td>
  </tr>

</tbody>
</table>

<%= f.submit '支払い手続きへ' %>

<% end %>

