<div>

  <h3><%=h label.name %></h3>
  <h4><%=h label.subname %></h4>

  <%= thumb_for label.images[0] %>

  <dl><dt>ドメイン(固有名)</dt><dd><%=h label.domain %></dd></dl>
  <dl><dt>Description</dt><dd><%=h label.description %></dd></dl>
  <dl><dt>URL</dt> <dd><%=h label.url %></dd></dl>
  <dl><dt>email</dt> <dd><%=h label.mail %></dd></dl>
  <dl><dt>Address</dt> <dd><%=h label.address %></dd></dl>
  <dl><dt>Phone</dt> <dd><%=h label.phone %></dd></dl>

  <dl><dt>識別子</dt> <dd><%=h label.token %></dd></dl>

</div>


