<div>
  <dl><dt>ID</dt><dd><%=h label.id %></dd></dl>
  <dl><dt>識別子</dt> <dd><%=h label.token %></dd></dl>
  <dl><dt>ドメイン(固有名)</dt><dd><%=h label.domain %></dd></dl>
  <dl><dt>レーベル名</dt> <dd><%=h(@label.name) %></dd></dl>
  <dl><dt>レーベル名(サブ)</dt> <dd><%=h(@label.subname) %></dd></dl>

  <dl><dt>画像</dt> <dd><%= s100_for @label.images[0] %></dd></dl>

  <dl><dt>説明</dt> <dd><%=h @label.description %></dd></dl>
  <dl><dt>URL</dt> <dd><%=h @label.url %></dd></dl>
  <dl><dt>email</dt> <dd><%=h @label.email %></dd></dl>

  <% if @label.address != ""%>
    <dl><dt>所在地</dt> <dd><%=h @label.address %></dd></dl>
  <% end %>

  <% if @label.phone != ""%>
    <dl><dt>連絡先</dt> <dd><%=h @label.phone %></dd></dl>
  <% end %>

  <dl><dt>作成日時</dt><dd><%=h to_japan_time(label.created_at) %></dd></dl>
</div>
