<table class="table_record">
<tbody>

<% @labels.each do |label| %>
  <tr>
    <td class="id"><%=h label.id %></td>
    <td class="thumb"><%= link_to((minicon_for label.images[0]), admin_label_path(label.id)) if label.images[0] != nil %></td>
    <td class="desc"><%=h label.name %></td>
    <td><%= link_to 'Edit', edit_admin_label_path(label) %></td>
    <td><%= link_to 'Destroy', admin_label_path(label), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>
