<div id="contents_header">
  <h2>Admin Labels</h2>
</div>

<div id="contents_main">
<h3>Index Labels</h3>

<table class="items">
<tbody>
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Name</th>
  </tr>

<% @labels.each do |label| %>
  <tr>
    <td><%=h label.id %></td>
    <td><%= link_to (icon_for label.images[0]), admin_label_path(label.id)  %></td>
    <td><%=h label.name %></td>
    <td><%= link_to 'Show', admin_label_path(label.id) %></td>
    <td><%= link_to 'Edit', edit_admin_label_path(label) %></td>
    <td><%= link_to 'Destroy', admin_label_path(label), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<%= link_to 'New label', new_admin_label_path %>

</div>

<div id="contents_footer">
</div>
