<table class="items">
  <tbody>
<% if @cart.length > 0 -%>

    <tr>
      <th class="icon">Image</th>
      <th class="name">Name</th>
      <th class="artist">Artist</th>
      <th class="price">Price(taxin)</th>
      <th class="delete">Delete</th>
    </tr>


    <% @cart.cart_items.each do |item| -%>
    <tr>
      <td class="icon"><%= icon_for item.content.images[0] %></td>
      <td class="name"><%= h item.content.name %></td>
      <td class="artist"><%= h item.content.artist.name %></td>
      <td class="price"><%= to_yen item.content.price %></td>
      <td class="delete">
      <%#PUTメソッドで送信%>
      <%# form_tag cart_path do -%>
      <% form_tag( {:controller => "carts", :action => "update",
                  :protocol => 'https://', :only_path => false}) do -%>
        <input name="_method" type="hidden" value="put" />
        <%= hidden_field_tag("cart_item[content_id]", "#{item.content.id}") %>
        <%= hidden_field_tag("cart_item[quantity]", "0") %>
        <%= submit_tag "Delete" %>
      <% end -%>
      </td>
    </tr>
    <% end %>

    <tr>
      <td colspan="5" class="total_price">
        <span style="font-size: small;">Total Price(taxin)</span>
        <%= to_yen @cart.total_price %>
      </td>
    </tr>

<% else %>
    <tr>
      <td colspan="5" class="total_price">
        <p>カートの中身はありません。</p>
      </td>
    </tr>
<% end %>

  </tbody>
</table>



