<h3>お客様情報</h3>
<% form_for @payment, :url => payment_path do |f| %>
<%= f.error_messages %>

<table class="order_form">
  <tbody>
    <tr>
      <th><%= f.label :email, "メールアドレス" %></th>
      <td style="width: 37%">
        <%= f.text_field :email, :value => 'tujaja3@gmail.com', :style => "width:300px; font-size: 14px;" %>
      </td>
      <td class="order_form_end" style="width: 38%">
        <ul class="list1"> <li><span>半角英数小文字3～30文字</span></li></ul>
      </td>
    </tr>

    <tr>
      <th><%= f.label :payment_type, "お支払い方法" %></th>
      <td>
        <%= f.radio_button(:payment_type, "free", {:checked => true} ) %>Free
        <%= f.radio_button(:payment_type, "paypal") %> <%= image_tag "paypal.gif" %>
      </td>
    </tr>

  </tbody>
</table>

<div style="text-align: center;"><%= f.submit 'お支払い手続きへ' %></div>

<% end %>

