<div id="contents_header">
  <h2>画像管理</h2>
</div>

<div id="contents_main">
<h3>画像詳細</h3>
  <dl class="left"><dt>300 x 300</dt> <dd><%= s300_for @image %></dd></dl>
  <dl class="left"><dt>100 x 100</dt> <dd><%= s100_for @image %></dd></dl>
  <dl class="left"><dt>50 x 50</dt> <dd><%= s50_for @image %></dd></dl>
  <dl class="left"><dt>25 x 25</dt> <dd><%= s25_for @image %></dd></dl>
  <div class="clear"></div>
  <dl><dt>オリジナルファイル名</dt> <dd><%=h @image.filename %></dd></dl>
  <dl><dt>オリジナルサイズ</dt> <dd><%=h @image.width %> x <%=h @image.height %></dd></dl>
  <dl><dt>コメント</dt> <dd><%=h @image.comment %></dd></dl>
  <dl><dt>識別子</dt> <dd><%=h @image.token %></dd></dl>
</div>
