<div id="information">
  <ul>
    <li><%= link_to "お知らせ", info_path %></li>
    <li><%= link_to "3本しめじについて", about_path %></li>
    <li><%= link_to "利用規約", term_path %></li>
    <li><%= link_to "お問い合わせ", contact_path %></li>
    <li><%= link_to "ヘルプ", help_path %></li>
    <li><%= link_to "会社概要", company_path %></li>
    <li><%= link_to "プライバシーポリシー", privacy_path %></li>
    <li><%= link_to "管理", admin_path %></li>
  </ul>
  <ul><li>3shimeji.com all rights reserved</li></ul>
  <!--address>3shimeji.com all rights reserved</address-->
</div>
